@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('./files/Inter.woff2') format('woff2');
}

body {
    display: grid;
    place-items: center;
    width: auto;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 40px;
    color: #0e0f21;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
ul {
    list-style: none;
    margin: 0;
}

.first-grid {
    width: 1500px;
    padding-top: 0;
}

.cards-list {
    display: flex;
    gap: 40px;
    padding: 0;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(50% - 20px);
    margin-top: 80px;
}

button {
    background-color: #2a4bff;
    color: white;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 66px;
    padding-right: 65px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.card-title {
    font-size: 24px;
    color: #0e0f21;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.card-paragraph {
    font-size: 16px;
    color: #6e6f7a;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.second-grid {
    width: 1500px;
    padding: 0;
    margin: 0;
    margin-top: 200px;
}

.card-second {
    flex-basis: calc(30% - 20px);
}

.line {
    width: 1500px;
    border-top: 1px solid #979caa;
    padding: 0;
    margin: 0;
    margin-top: 48px;
}

.bottom-region {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 48px;
}

.bottom-region p {
    width: 856px;
    padding: 0;
    margin: 0;
    color: #0e0f21;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
