.body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    position: absolute;
    width: 1708px;
    height: 1154px;
    margin-left: 212px;
}

.header-text {
    position: relative;
    width: 706px;
    height: 288px;
    top: -493px;
    left: 212px;
}

.boss-img {
    width: 1183px;
    height: 1141px;
    margin-left: 525px;
}

.menu {
    position: relative;
}
.logo {
    width: 40px;
    height: 40px;
    margin-top: 24px;
    margin-left: 212px;
    border: 8px;
    display: inline-block;
}

.header-text-logo {
    width: 71px;
    height: 30px;
    display: inline-block;
    margin-left: 5px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color-scheme: #0e0f21;
    vertical-align: 5px;
}

.header-links {
    display: inline-block;
    margin-right: 49px;
    font-size: 12px;
    font-family: 'Inter UI', sans-serif;
    font-weight: bold;
    color: white;
}

.header-ul {
    display: inline-block;
    margin-left: 933px;
}

.testmonials {
    width: 1496px;
    height: 147px;
    margin-top: 1354px;
    margin-left: 212px;
    outline: solid red 1px;
}

.testmonials-text {
    font-family: 'Inter UI', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
}

.testmonials-second-text {
    position: relative;
    width: 856px;
    height: 96px;
    margin-left: 384px;
    top: -90px;
    font-family: 'Inter UI', sans-serif;
    font-size: 24px;
}
